mysql_password = # MySQL Password
mysql_db       = # MySQL Database
java_opts      = # "-Xms64m -Xmx128m -XX:+UseG1GC -Djava.security.egd=file:/dev/urandom -Dspring.zipkin.enabled=false"
user_db        = # user DB url
zipkin         = # "zipkin.jaeger.svc.cluster.local"
domain_name    = # host name for ingress
session_redis  = # "true" | "false"
gf_security_admin_user = # grafana username
gf_security_admin_password = # grafana password
